body,ul,li,form,h2,h3,p{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    font-family: '微软雅黑 Regular', 'Microsoft Yahei', '微软雅黑','黑体',sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/*header*/
.header-out{
    width:100%;
    height:36px;
    background-color:#f8f8f8;
}
.header{
    width:1200px;
    height: 100%;
    margin:0 auto;
}
.header .header-content{
    float:right;
    margin: 10px;
}
.header .header-content span{
    display: inline-block;
}
.header .header-content span a{
    color:#a1a1a1;
    font-size:14px;
}
.header .header-content span.header-content-1{
    border-right:1px solid #a1a1a1;
    padding-right: 18px;
}
.header .header-content span.header-content-2{
    padding-left: 18px;
}

/*body.nav*/
.body .nav,.body .nav_manager{
    width:1200px;
    height:116px;
    margin:0 auto;
}
.body .nav img,.body .nav_manager img{
    float:left;
    margin:35px 10px;
}
.body .nav ul li,.body .nav_manager ul li{
    float:right;
    margin-top: 46px;
    margin-left:67px;
}
.body .nav ul,.body .nav_manager ul{
    height:100%;
    width:1000px;
    float:right;
}
.body .nav ul li a:link,.body .nav ul li a:visited,.body .nav_manager ul li a:link,.body .nav_manager ul li a:visited{
    padding:0 18px 30px 18px;
    color:#a1a1a1;
}
.body .nav ul li a:hover,.body .nav ul li a:active,.body .nav ul li a.selected,.body .nav_manager ul li a:hover,.body .nav_manager ul li a:active,.body .nav_manager ul li a.selected{
    color:#175b98;
    border-bottom: 2px solid #175b98;
}

/*登录成功页面*/
.login_form{
    position: absolute;
    top:116px;
    left:64px;
    line-height: 36px;
    font-weight: bold;
}
.login_nav{
    float:right;
    margin: 10px 20px 10px 10px;
}
.login_nav span{
    display: inline-block;
}
.login_nav  a{
    color:#a1a1a1;
    font-size:14px;
}
.login_nav span.header-content-1{
    border-right:1px solid #a1a1a1;
    padding-right: 18px;
    position: relative;
}
.login_nav span.header-content-1 span{
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top:-8px;
    left:26px;
    color:#fff;
    font-size:10px;
}
.login_nav span.header-content-2{
    padding-left: 18px;
    padding-right: 70px;
}
.login_nav a.quite{
    background: url('../imgs/quite.png') no-repeat;
    padding-left:26px;
}


/*表格中，行背景变灰*/
.back_grey{
    background-color: #fafafa;
}

/*上一页，下一页格式设置*/
.use .useManage .right_users ul,.use .useManage .right .tong_all ul{
    width:400px;
    height: 100%;
    margin:35px auto;
}
.use .useManage .right_users  ul li,.use .useManage .right .tong_all ul li{
    float: left;
    margin:0 7px;
}
.use .useManage .right_users  ul li a,.use .useManage .right .tong_all ul li a{
    color: #a1a1a1;
}
.use .useManage .right_users  ul li.num a,.use .useManage .right .tong_all ul li.num a{
    border:1px solid #a1a1a1;
    padding:0 4px;
}

/*表格表头格式*/
table tr.title{
    background-color: #e8e8e8;
    color: #a1a1a1;
    font-weight:bold;
}

/*表格第一列右对齐*/
table td.td_left{
    padding-right:35px;
    float:right;
}
table textarea{
    border-color:#e8e8e8;
    margin-top:12px;
}
/*详细信息p标签*/
 p.title_p{
    height:38px;
    border-bottom:1px solid #e8e8e8;
    margin-bottom:21px;
    vertical-align: middle;
    font-weight: bold;
    color: #a1a1a1;
}
.use .useManage .right_user p span,.use .useManage .right_tong p span,.use .useManage .right .tong_all_details p span{
    color:#175b98;
}

/*安全设置通用格式*/
.use .useManage .right_users .bind{
    font-weight: bold;
    line-height: 72px;
    font-size: 18px;
}
.use .useManage .right_users .true{
    padding:8px 35px;
    background: url('../imgs/对钩.jpg') no-repeat 16px;
}
.use .useManage .right_users .false{
    padding:8px 35px;
    background: url('../imgs/叹号.jpg') no-repeat 16px;
}
.use .useManage .right_users .status{
    color:#a1a1a1;
    max-width: 300px;
}
.use .useManage .right_users .update_sets a{
    color: #175a98;
    font-weight: bold;
}

/*通用格式*/
.use .useManage{
    width:1200px;
    height:100%;
    margin:12px auto;
    padding-top:5px;
    overflow: hidden;
}
hr{
    width:1200px;
    margin:18px auto 0;
    border-top:2px solid #448aca;
}
.use .useManage .left{
    width:300px;
    height:340px;
    background-color: #fff;
    float:left;
    border:1px solid #e8e8e8;
    border-top:none;
}


/*foot*/
.footer{
    width:100%;
    height:164px;
    background-color:#272930;
}
.footer .footer-container{
    width:1200px;
    height:100%;
    margin: 0 auto;
    color:#a1a1a1;
    font-size:14px;
}
.footer .footer-container ul{
    padding-top:46px;
}
.footer .footer-container ul li{
    float:left;
    border-right:1px solid #a1a1a1;
    padding: 0 20px;
}
.footer .footer-container  a:hover,.footer .footer-container a:active,.body .body-link a:hover ,.body .body-link a:active{
    color:#175b98;
}
.footer .footer-container ul li.ul-first{
    padding-left: 10px;
}
.footer .footer-container ul li.ul-last{
    border-right:none;
}
.footer .footer-container p.concat{
    float:right;
    margin-right:10px;
}
.footer .footer-container p .tel{
    font-size:20px;
}
.footer .footer-container .footer-bottom{
    text-align: center;
    padding-top:50px;
}
.footer .footer-container a{
    color:#a1a1a1;
}
table{
    border-spacing: 1px;
}