.header-out{
    height:108px;
    background-color:white;
}
.header-out .header img{
    float: left;
    margin:25px 10px;
}
.header-out .header div.header-text{
    float:left;
    margin-top:45px;
    font-size:20px;
    font-family: " 微软雅黑Regular 黑体 Arial";
    font-weight: bold;
}
.header-out .header .header-content{
    margin:45px 10px;
}

.reset_secret_body{
    background-color: #f5f5f5;
}
.reset_secret_body .reset_secret{
    width:1200px;
    text-align: center;
    margin:0 auto;
}
.reset_secret_body .reset_secret ul{
    width:900px;
    height:78px;
    margin-left:150px;
    overflow: hidden;
}
.reset_secret_body .reset_secret ul li{
    float:left;
    margin:30px 45px;
    color:#a1a1a1;
    font-size:20px;
    padding: 0 14px 22px 14px;
}
.reset_secret_body .reset_secret ul li.selected{
    color:#448aca;
    border-bottom: 2px solid #448aca;
}
.reset_secret_body .reset_secret ul li div.selected{
    background-color: #448aca;
}
.reset_secret_body .reset_secret ul li div{
    width:24px;
    height:24px;
    border-radius: 50%;
    display: inline-block;
    background-color: #d1d1d1;
    color:#fff;
    margin-right:10px;
}

hr{
    height:1px;
    background-color: #e8e8e8;
    border:none;
    margin:0;
}

.reset_secret_body .reset_secret form{
    width:542px;
    height:200px;
    margin:85px auto;
}
table{
    border-spacing: 20px;
    margin:16px auto;
}
input{
    border-style:none;
}

.reset_secret_body .reset_secret input.user_name,.reset_secret_body .reset_secret input.verification,.reset_secret_body .reset_secret .secret input.verification{
    height:47px;
    padding:0 20px;
    border-radius: 4px;
    border:1px solid #e8e8e8;
    font-size:16px;
}
.reset_secret_body .reset_secret input.user_name,.reset_secret_body .reset_secret .email input.verification,.reset_secret_body .reset_secret .secret input.verification{
    width:236px;
}
.reset_secret_body .reset_secret input.verification{
    width:108px;
    float: left;
}
.reset_secret_body .reset_secret #code{
    width:106px;
    height:46px;
    background: url('../imgs/验证码背景.jpg') no-repeat;
    font-size:32px;
    border:1px solid #e8e8e8;
    float: right;
    text-align: center;
    vertical-align: middle;
}


.reset_secret_body .reset_secret .email input.button,.reset_secret_body .reset_secret .submit_button{
    background:#448aca;
    color:#fff;
    border-radius: 4px;
    cursor:pointer;
    font-size: 16px;
}
.reset_secret_body .reset_secret .email input.button{
    width:118px;
    height:46px;
}
.reset_secret_body .reset_secret .email p{
    padding-bottom:30px;
}
.reset_secret_body .reset_secret .finished div{
    background: url('../imgs/finished.jpg') no-repeat;
    padding-left:46px;
    padding-top:5px;
    margin:0 121px;
    height:36px;
}

.reset_secret_body .reset_secret .submit_button{
    width:170px;
    height:50px;
    margin-left:-116px;

}
